<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Confirm Email</title>
  <style>
    /* CSS styles for the email template */
  </style>
</head>
<body>
  <h2>Confirm you email address</h2>
  <p>Hello,</p>
  <p>You email confirmation otp is: {{otp}}</p>

  <p>Best regards,</p>
  <p>{{appName}}</p>
</body>
</html>