<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Contact us Email</title>
    <style>
      /* CSS styles for the email template */
    </style>
  </head>

  <body>
    <h2>We love to hear from you!</h2>
    <p>Hello,{{name}}</p>
    <p>We have received your message as following we will get back to you ASAP!</p>
    <p>{{message}}</p>
    <p>Best regards,</p>
    <p>{{appName}}</p>
  </body>

</html>