<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Invite User</title>
  <style>
    /* CSS styles for the email template */
  </style>
</head>
<body>
  <h2>You have been invited to Aura Master Mind</h2>
  <p>Hello {{name}},</p>
  <p>Welcome to Aura Master Mind, your account has been created successfully.</p>
  <p>We are excited to have you on board. Please find your login credentials below:</p>
  <p>Email: {{email}}</p>
  <p>Password: {{password}}</p>
  <p>Best regards,</p>
  <p>Aura Master Mind Team</p>
</body>
</html>