<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reset Password Email</title>
  <style>
    /* CSS styles for the email template */
  </style>
</head>
<body>
  <h2>Reset Password OTP</h2>
  <p>Hello,</p>
  <p>You reset password otp is: {{otp}}</p>

  <p>Best regards,</p>
  <p>{{appName}}</p>
</body>
</html>